@using DMS_Website.Helpers
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model DMS_ViewModel.EmployeeViewModel
}

<h2>Employee</h2>
<a href="~/Child#employee_register_popup" data-toggle="modal">Click here to register an Employee</a>

@*Parent Registering Popup Modal*@
<div class="modal" id="employee_register_popup">
    <script type="text/javascript">
        var onSuccess = function (result) {
            if (result.url) {
                // if the server returned a JSON object containing an url
                // properly we redirect the browser to that url
                window.location.href = result.url;
            }
        }
    </script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <div style="font-size: x-large; padding-bottom: 20px; text-align: center;">
                    Please Register!
                </div>
                <div class="row text-center">
                    <img src="~/Content/Pictures/Banner.jpg" alt="Surfboards" height="100" style="padding-left: 20px" class="banner">
                </div>
            </div>
            @using (
                    Ajax.BeginForm("Register_Employee", "Employee", new AjaxOptions
                    {
                        LoadingElementId = "ajaxSplash",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "messgReg",
                        OnSuccess = "onSuccess"
                    }))
            {
                @Html.AntiForgeryToken()
                //Modal Body
                <div class="modal-body">
                    <div class="tabbable" id="myTabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
                            <li><a href="#info" data-toggle="tab">Info</a></li>
                            <li><a href="#account" data-toggle="tab">Account</a></li>
                        </ul>
                        @*All Tabs for Modal*@
                        <div class="tab-content">
                            <div class="tab-pane active" id="personal">
                                @Html.Label("First Name")
                                @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Firstname, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Last Name")
                                @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Lastname, null, new { @class = "errmsg" })
                                <br />
                                @*@Html.Label("Date of Birth:")
                                    @Html.TextBoxFor(model => model.Age, new { @class = "form-control", @style = "width:75%;" })
                                    @Html.ValidationMessageFor(model => model.Age, null, new { @class = "errmsg" })
                                    <br />*@

                            </div>
                            <div class="tab-pane" id="info">
                                @Html.Label("# and Street:")
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("City:")
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.City, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Province:")
                                @Html.TextBoxFor(model => model.Province, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Province, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Role")
                                @Html.TextBoxFor(model => model.Role, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Role, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Phone #:")
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Email:")
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "errmsg" })

                                @*
                                    @Html.Label("Postal Code:")
                                    @Html.TextBoxFor(model => model.postal, new { @class = "form-control", @style = "width:75%;" })
                                    @Html.ValidationMessageFor(model => model.postal, null, new { @class = "errmsg" })*@
                            </div>
                            <div class="tab-pane" id="account">
                                @Html.Label("Username:")
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "errmsg" })
                                <br />

                                @Html.Label("Password:")
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "errmsg" })
                                <br />
                                @Html.Label("Confirm Password:")
                                @Html.PasswordFor(model => model.RepeatPassword, new { @class = "form-control", @style = "width:75%;" })
                                @Html.ValidationMessageFor(model => model.RepeatPassword, null, new { @class = "errmsg" })
                                <br />
                                <input type="submit" class="btn btn-primary pull-left" value="Register" />
                                <div id="ajaxSplash" style="display: none; z-index: 60;">Registering Employee ! Please Wait...</div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <br /><br />
                    <div id="messgReg">@Html.Partial("PopupMessage")</div>
                </div>
            }
        </div>
    </div>
</div>

<div id="catalogue">
    @Html.employees("mycat")
</div>